@import '../../../styles.scss';
@import '../login.scss';

* {
    background-color: $bgColor;
    font-family: 'Nunito';
}

section {

    label {
        background-color: white !important;
        padding: 0 48px;
        gap: 8px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 16px;
        font-family: 'Open Sans';

        a {
            font-size: 18px;
            font-weight: 300;
            color: $purple2;
            text-decoration: none;

            &:hover {
                font-weight: 600;
                background-color: $bgColor;
                border-radius: 100px;
                padding: 4px;
            }
        }

        input[type="checkbox"] {
            margin: 0;
            height: 16px;
            width: 16px;
            cursor: pointer;
            border: 3px solid $purple2; // Standard-Border-Farbe
            border-radius: 4px; // Optional: Rundung der Checkbox

            &:hover {
                border-color: $purple2; // Farbe beim Hover
            }
        }
    }

    form {
        border-radius: 30px;

        .header-div {
            display: flex;
            justify-content: space-between;
            border-radius: 30px;
            width: 100%;

            img {
                background-color: white;
                padding: 0 16px;
                border-radius: 30px;
                cursor: pointer;
            }

            .little-img {
                width: 1px;
                cursor: default;
            }
        }

        input::placeholder {
            text-indent: 0px;
        }

        .wrong-data {
            color: red;
            width: 100%;
            font-size: 14px;
            font-weight: 300;
            width: 63%;
            text-align: left;
        }

        h1 {
            color: $purple1;
            font-size: 46px;
            padding: 16px 0;
            margin: 0;


        }

        .forgot-password {
            cursor: pointer;
            color: $purple2;
            text-decoration: none;
            font-weight: 300;
            margin: 20px 0 30px;

            &:hover {
                font-weight: 600;
                background-color: $bgColor;
                border-radius: 25px;
                padding: 8px;
            }
        }

        .or-div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            margin-bottom: 30px;

            .border-bottom-purple-light {
                border-bottom: 1px solid #ADB0D9;
                width: 100%;
            }

            .or-text {
                margin-right: 8px;
                margin-left: 8px;
                padding: 0 10px;
            }
        }

        .login-with-google-div {
            display: flex;
            align-items: center;
            gap: 20px;
            background-color: $bgColor;
            padding: 11px 32px;
            border-radius: 100px;
            margin-bottom: 30px;
            cursor: pointer;
            color: $purple2;
            text-decoration: none;

            &:hover {
                font-weight: 700;
                border: 1px solid $purple2;
            }

            div {
                background-color: $bgColor;
            }
        }

        button {
            margin-top: 16px;
        }

        p {
            background-color: white;
        }

        @media (max-width: 1100px) {
            width: 70%;

            input {
                width: 60%;
            }

            .subheader {
                padding: 0 48px;
            }

            .or-div {
                width: 80%;
            }
        }

        @media (max-width: 600px) {
            width: 90%;

            label {
                padding: 0 16px;
            }

            input {
                width: 60%;
                padding: 18px 60px;
            }

            input::placeholder {
                text-indent: 0px;
            }

            h1 {
                font-size: 36px;
            }

            .login-btn-div {
                border-radius: 30px;
                // width: 100%;
                display: flex;
                justify-content: flex-end;

            }
        }

        @media (max-width: 400px) { 
            h1 {
                margin: 0;
                font-size: 30px;
            }
        }

        @media (max-width: 380px) {
            input {
                padding: 18px 30px 18px 60px;
            }

            button {
                width: 95%;
            }

            .header-div {
                display: flex;
                justify-content: flex-start;
            }

            h1 {
                margin: 0;
                font-size: 28px;
            }
        }

        @media (max-width: 340px) {
            h1 {
                margin: 0;
                font-size: 24px;
            }
        }

    }
}