<app-login-logo></app-login-logo>
<main>
  <section>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="header-div">
        <img routerLink="/login" src="assets/img/return.svg" alt="return">
        <h1>Konto erstellen</h1>
        <img class="little-img" src="assets/img/return-white.svg" alt="return">
      </div>

      <div class="subheader">
        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.
      </div>

      <input type="text" placeholder="Name und Nachname" formControlName="fullName" required (focus)="hideError()">
      <div class="wrong-data" *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
        Bitte geben Sie Ihren Namen ein.
      </div>

      <input type="email" placeholder="beispielname@email.com" formControlName="email" required (focus)="hideError()">
      <div class="wrong-data" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Diese E-Mail-Adresse ist ungültig.
      </div>

      <input type="password" placeholder="Passwort" formControlName="password" required (focus)="hideError()">
      <div class="wrong-data" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Das Passwort muss mindestens 6 Zeichen lang sein.
      </div>

      <label for="terms">
        <input type="checkbox" id="terms" formControlName="terms" required>
        Ich stimme der <a routerLink="/datenschutz">Datenschutzerklärung</a> zu.
      </label>
      <div class="wrong-data" *ngIf="registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched">
        Sie müssen den Bedingungen zustimmen.
      </div>

      <div class="login-btn-div">
        <button 
          [ngClass]="{
            'grey': registerForm.invalid, 
            'purple': registerForm.valid
          }" 
          class="login-btn" 
          type="submit"
          [disabled]="registerForm.invalid">
          Weiter
        </button>
      </div>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    </form>
  </section>
</main>
<app-login-footer></app-login-footer>
