<div class="custom-dialog-container mat-dialog-container">
    <img class="close-img pointer" src="assets/workspace/close.png" alt="Close" (click)="closeDialog()">
    <h1>
        <img src="assets/workspace/tag.png" alt="">
        <p>Entwickerteam</p>
    </h1>
    <div class="mat-dialog-names">
        <div class="field-container">
            <div class="field1">
                <h2>Channel-Name</h2>
                <div class="field1-channel">
                    <img src="assets/workspace/tag.png" alt="">
                    <p>Entwickerteam</p>
                </div>
    
            </div>
            <div class="field2">
                <h2>Beschreibung<span class="not-bold"> (optional)</span></h2>
                <div class="input-container2">
                    <input type="text" placeholder="Dein Text hier">
                </div>
            </div>
            <div class="button-container">
                <button class="primary-btn pointer">Erstellen</button>
            </div>
        </div>
        
    </div>
</div>