@import '../../../../styles.scss';
@import '../../login.scss';

* {
    background-color: $bgColor;
    font-family: 'Nunito';
}

section {
    form {
        border-radius: 30px;

        h1 {
            color: $purple1;
            font-size: 46px;
            padding: 16px 0;
            margin: 0;
        }

        .profile-pictures-div {
            background-color: white;

            .profile-pictures {
                background-color: white;

                img {
                    background-color: white;
                }
            }
        }

        div {
            background-color: white;
        }

        .header-div {
            display: flex;
            justify-content: space-between;
            border-radius: 30px;
            width: 100%;
            background-color: white;

            img {
                background-color: white;
                padding: 0 16px;
                border-radius: 30px;
                cursor: pointer;
            }

            .little-img {
                width: 1px;
                cursor: default;
            }
        }

        @media (max-width: 1100px) {
            width: 70%;

            input {
                width: 60%;
            }
        }

        @media (max-width: 840px) {
            h1 {
                font-size: 40px;
            }
        }

        @media (max-width: 750px) {
            h1 {
                font-size: 36px;
            }
        }

        @media (max-width: 680px) {
            h1 {
                font-size: 30px;
            }
        }

        @media (max-width: 600px) {
            width: 90%;

            input {
                width: 60%;
                padding: 18px 60px;
            }
        }

        @media (max-width: 540px) {
            h1 {
                font-size: 28px;
            }
        }

        @media (max-width: 440px) {
            h1 {
                font-size: 24px;
            }
        }

        @media (max-width: 390px) {
            input {
                padding: 18px 30px 18px 60px;
            }

            button {
                width: 95%;
            }

            h1 {
                font-size: 20px;
            }

            .input-mail-hint {
                font-size: 14px;
            }
        }

        @media (max-width: 390px) {
            h1 {
                font-size: 18px;
            }
        }
    }
}

