<app-login-logo></app-login-logo>
<main>
    <section>
        <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
            <div class="header-div">
                <img src="assets/img/return.svg" alt="return">
                <h1>Passwort zurücksetzen</h1>
                <img class="little-img" src="assets/img/return-white.svg" alt="return">
            </div>

            <div>
                <div>Bitte geben Sie Ihre E-Mail-Adresse ein.</div>
            </div>
            
            <input
                type="email"
                placeholder="beispielname@email.com"
                [(ngModel)]="email"
                name="email"
                required
                email
                #emailField="ngModel">
            <div class="wrong-data" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                Diese E-Mail Adresse ist ungültig
            </div>

            <div class="sub-text">
                <div>Wir senden Ihnen eine E-Mail, über die 
                    Sie Ihr Passwort ändern können.</div>
            </div>

            <div class="login-btn-div">
                <button class="login-btn" type="submit" [disabled]="resetForm.invalid">Weiter</button>
            </div>
        </form>
    </section>
</main>
<app-login-footer></app-login-footer>
