<div class="channel-container">
    <div class="head">
        <div class="head-left">
            <img src="assets/workspace/tag.png" alt="">
            <p>Entwickerteam</p>
        </div>
        <div>

        </div>

    </div>

    <div>

    </div>

    <div class="messageBox">
        <input type="text" placeholder="Antworten..." />
        <div class="actionButtonsBox">
            <div class="iconsOnTheLeft">
                <img class="pointer" src="assets/channel/add.png" alt="plusIcon" />
                <div class="vertical"></div>
                <img class="pointer" src="assets/channel/sentiment_satisfied.png" alt="emojiSelectionBoxIcon" />
                <img class="pointer" src="assets/channel/alternate_email.png" alt="atMarkerIcon" />
            </div>
            <img class="iconSend pointer" src="assets/channel/send.png" alt="sendMessageIcon" />
        </div>
    </div>
</div>