<div class="channel-container">
    <div class="header">
        <div class="header-left">
            <img src="assets/workspace/tag.png" alt="">
            <p>Entwickerteam</p>
        </div>
        <div>

        </div>
    </div>

    <div class="main-container">
        <div class="message"> Hallo</div>
        <div class="spacerNewMessages">
            <div class="spacer1"></div>
            <div class="date-container">
                <div class="date">Dienstag, 14. Januar</div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="message"> Hallo</div>
        <div class="spacerNewMessages">
            <div class="spacer1"></div>
            <div class="date-container">
                <div class="date">heute</div>
            </div>
            <div class="spacer2"></div>
        </div>
    </div>

    <div class="messageBox">
        <input type="text" placeholder="Antworten..." />
        <div class="actionButtonsBox">
            <div class="iconsOnTheLeft">
                <img class="pointer" src="assets/channel/add.png" alt="plusIcon" />
                <div class="vertical"></div>
                <img class="pointer" src="assets/channel/sentiment_satisfied.png" alt="emojiSelectionBoxIcon" />
                <img class="pointer" src="assets/channel/alternate_email.png" alt="atMarkerIcon" />
            </div>
            <img class="iconSend pointer" src="assets/channel/send.png" alt="sendMessageIcon" />
        </div>
    </div>
</div>