<div class="channel-container">
    <div class="header">
        <div class="header-left">
            <img src="assets/workspace/tag.png" alt="">
            <p>Entwickerteam</p>
        </div>
        <div>

        </div>
    </div>

    <div class="main-container">
        <div class="spacerNewMessages">
            <div class="spacer1"></div>
            <div class="date-container">
                <div class="date">Dienstag, 14. Januar</div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="containerMessage">
            <img src="assets/avatars/Avatar 2.png" alt="" />
            <div class="infoMessage">
                <div class="infoHeader">
                    <span class="fontStyleName">Noah Braun</span>
                    <span class="fontStyleTime">14:25 Uhr</span>
                </div>
                <div class="messageBubble">Welche Version ist aktuell von Angular?</div>
            </div>
        </div>

        <div class="spacerNewMessages">
            <div class="spacer1"></div>
            <div class="date-container">
                <div class="date">heute</div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="containerMessageMePerspective">
            <img class="imgAvatar" src="assets/avatars/Avatar 1.png" alt="" />
            <div class="infoMessage">
                <div class="infoHeader">
                    <span class="fontStyleTime">15.06 Uhr</span>
                    <span class="fontStyleName"><a href="">Frederik Beck</a></span>
                </div>
                <div class="messageBubbleMePerspective">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

                <div class="emojiContainerMePerspective">
                    <div class="reactionContainer">
                        <img class="iconsSize" src="assets/emojis/rocket.png" alt="" />
                        <span>1</span>
                    </div>

                    <img class="iconsSize" src="assets/img/add_reaction.png" alt="" />
                </div>
            </div>
        </div>

    </div>

    <div class="messageBox">
        <input type="text" placeholder="Antworten..." />
        <div class="actionButtonsBox">
            <div class="iconsOnTheLeft">
                <img class="pointer" src="assets/channel/add.png" alt="plusIcon" />
                <div class="vertical"></div>
                <img class="pointer" src="assets/channel/sentiment_satisfied.png" alt="emojiSelectionBoxIcon" />
                <img class="pointer" src="assets/channel/alternate_email.png" alt="atMarkerIcon" />
            </div>
            <img class="iconSend pointer" src="assets/channel/send.png" alt="sendMessageIcon" />
        </div>
    </div>
</div>