header {
  background-color: rgb(235 238 254);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 242px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
  img {
    height: 70px;
    width: 70px;
  }
  span {
    font-size: 24px;
  }
}

input {
  width: 50%;
  padding: 17px 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 42px;
  border: none;
  font-size: 24px;
  font-weight: 400;
}

.profil {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 45px;
  span {
    font-size: 32px;
    font-weight: 700;
    width: 200px;
    margin-left: 45px;
  }
  .profilImg {
    height: 70px;
    width: 70px;
    border-radius: 42px;
  }
}

.dropDownIcon {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 42px;
  &:hover {
    cursor: pointer;
    filter: invert(31%) sepia(49%) saturate(5283%) hue-rotate(232deg)
      brightness(98%) contrast(89%);
  }
}

button {
  border: none;
  background-color: unset;
}

.dialogHeader {
  position: absolute;
  right: 20px;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 282px;
  height: 181px;
  border-radius: 30px 0 30px 30px;
  padding: 30px;
  gap: 15px;
  background-color: #ffffff;
  box-shadow: 6px 0px 20px grey;
  > span {
    width: 200px;
    height: 53px;
    border-radius: 100px;
    padding: 10px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: #eceefe;
      font-weight: 700;
      color: #535af1;
    }
  }
}

.dialogHeaderContainer {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.displayNone {
  display: none !important;
}

.displayUnset {
  display: unset;
}

.displayFlexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayFlex {
  display: flex;
}

.dialogProfile {
  position: absolute;
  display: flex;
  right: 20px;
  top: 120px;
  flex-direction: column;
  width: 450px;
  height: 500px;
  border-radius: 30px 0 30px 30px;
  padding: 45px 40px;
  gap: 38px;
  background-color: #ffffff;
  box-shadow: 6px 0px 20px grey;
}

.closeIcon {
  height: 24px;
  width: 24px;
  object-fit: cover;
}

.profilPic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 500px;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name {
  font-size: 32px;
  font-weight: 700;
}

.edit {
  font-size: 18px;
  font-weight: 600px;
  color: #535af1;
}

.status {
  display: flex;
  align-items: center;
  margin-top: 20px;
  img {
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }
  span {
    font-size: 20px;
    color: #92c83e;
  }
}

.email {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
  img {
    width: 25px;
    height: 20px;
    padding-right: 10px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
  }
}

.emailAdress {
  font-size: 18px;
  font-weight: 500;
  color: #1381ff;
  padding-left: 35px;
}
