<header>
  <div class="logo">
    <img src="./../../../../assets/img/header/logo.png" alt="" />
    <span>DABubble</span>
  </div>
  <input type="text" placeholder="Devspace durchsuchen" />
  <div class="profil">
    <span>Frederik Beck</span>
    <img
      class="profilImg"
      src="./../../../../assets/img/header/avatar1.png"
      alt=""
    />
    <button (click)="openDialog($event)">
      <img
        class="dropDownIcon"
        src="./../../../../assets/img/header/keyboard_arrow_down.png"
        alt=""
      />
    </button>
  </div>

  <div
    (click)="openDialog($event)"
    id="openDialogHeader"
    class="dialogHeaderContainer displayNone"
  >
    <div (click)="$event.stopPropagation()" class="dialogHeader">
      <span (click)="openDialogProfile()">Profil</span>
      <span>Log out</span>
    </div>

    <div
      (click)="$event.stopPropagation()"
      id="openDialogProfile"
      class="dialogProfile displayNone"
    >
      <div class="displayFlexBetween">
        <span>Profil</span>
        <img (click)="closeDialog()"
          class="closeIcon"
          src="./../../../../assets/img/header/close-2.png"
          alt=""
        />
      </div>
      <div class="imgContainer">
        <img
          class="profilPic"
          src="./../../../../assets/img/header/avatar1.png"
          alt=""
        />
      </div>
      <div class="containeInfo">
        <div class="displayFlexBetween">
          <span class="name">Frederik Beck</span>
          <span class="edit">Bearbeiten</span>
        </div>
        <div class="status">
          <img src="./../../../../assets/img/header/Online.png" alt="" />
          <span>Aktive</span>
        </div>

        <div class="email">
          <img src="./../../../../assets/img/header/mail.png" alt="" />
          <span>E-Mail-Adresse</span>
        </div>
        <span class="emailAdress">fred.beck%email.com</span>
      </div>
    </div>
  </div>
</header>
