<app-login-logo></app-login-logo>
<main>
    <section>
        <form action="">
            <div class="header-div">
                <img src="assets/img/return.svg" alt="return">
                <h1>Wähle deinen Avatar</h1>
                <img class="little-img" src="assets/img/return-white.svg" alt="return">
            </div>

            <div>
                <img src="assets/img/big-user-profile.svg" alt="create-user">
                <div>Frederik Beck</div>
            </div>

            <div class="profile-pictures-div">
                <div>Aus der Liste wählen</div>
                <div class="profile-pictures">
                    <img src="assets/img/profile-picture-pic-1.svg" alt="">
                    <img src="assets/img/profile-picture-pic-2.svg" alt="">
                    <img src="assets/img/profile-picture-pic-3.svg" alt="">
                    <img src="assets/img/profile-picture-pic-4.svg" alt="">
                    <img src="assets/img/profile-picture-pic-5.svg" alt="">
                </div>
                <div>
                    <div>eigenes Bild verwenden</div>
                    <input id="file-upload" type="file" accept="image/*"/>
                </div>
            </div>

            <div class="login-btn-div">
                <button class="login-btn">Weiter</button>
            </div>
        </form>
    </section>
</main>
<app-login-footer></app-login-footer>