<app-login-header></app-login-header>
<main>
    <section>
        <form action="">
            <h1>Anmeldung</h1>

            <div class="subheader">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</div>

            <input type="email" placeholder="beispielname@email.com">
            <div class="wrong-data">Diese E-Mail Adresse ist ungültig</div>
            <input type="password" placeholder="Passwort">

            <div class="wrong-data">Falsche E-Mail oder falsches Passwort.</div>

            <a class="forgot-password" href="">Passwort vergessen?</a>

            <div class="or-div">
                <div class="border-bottom-purple-light"></div>
                <div class="or-text">ODER</div>
                <div class="border-bottom-purple-light"></div>
            </div>

            <a href="" class="login-with-google-div">
                <img src="assets/img/google.svg" alt="google">
                <div>Anmelden mit Google</div>
            </a>

            <div class="login-btn-div">
                <button class="login-btn">Anmelden</button>
                <button class="guest-login">Gäste-Login</button>
            </div>
        </form>
    </section>
</main>
<app-responsive-create-user-section></app-responsive-create-user-section>
<app-login-footer></app-login-footer>

