@import '../../styles.scss';

* {
    background-color: $bgColor;
    font-family: 'Nunito';
    // height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        cursor: pointer;
        color: $purple2;
        text-decoration: none;
    }

    .login-with-google-div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.border-bottom-purple-light {
    border-bottom: 1px solid #ADB0D9;
}
