.menu-item {
    transition: all 0.3s ease;
}

/* .content {
    overflow: hidden;
    //Wichtig für die Animation
} */
.channels {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.workspace-container {
    background-color: white;
    padding: 16px;
    border-radius: 24px;
    min-width: 280px !important;
    width: 20vw;
    /* min-width: 20vw; */
    height: 90vh;
    margin: 0 0 16px 16px;
    overflow: hidden;
}

.devspace-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    &:hover {
        border-radius: 32px;
    }
}

.hover-color {
    &:hover {
        filter: invert(31%) sepia(49%) saturate(5283%) hue-rotate(232deg) brightness(98%) contrast(89%);
    }
}

.hover-color2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 24px 2px 24px;

    &:hover {
        background-color: #ECEFFF;
        border-radius: 32px;
    }
}

.devspace-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.headline {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    div {
        font-size: 18;
    }

    .bold {
        font-weight: 700;
    }

    .poa1 {
        position: absolute;
        left: -50px;
    }

    .poa2 {
        position: absolute;
        right: -50px;
    }

    .poa3 {
        position: absolute;
        left: -50px;
    }
}

.headline-sub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 93px;
}

.workspace-flag {
    position: absolute;
    left: -114px;
    top: 70%;
    background-color: white;
    rotate: 270deg;
    padding: 12px 20px 10px 20px;
    border-radius: 0 0 30px 30px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;

    img {
        rotate: 90deg;
    }
}

.workspace-flag.closed {
    left: -100px;
}

.users {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 32px;
    position: relative;

    .poa4 {
        position: absolute;
        left: 63px;
        top: 43px;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 24px 4px 24px;

    &:hover {
        background-color: #ECEFFF;
        border-radius: 32px;
    }
}