<div class="workspace-container">
    <div class="devspace-header">
        <img src="assets/workspace/devspace.png" alt="">
        <img class="edit pointer hover-color" src="assets/workspace/edit1.png" alt="">
    </div>
    <div class="devspace-content">
        <div class="channels">
            <div class="headline">
                <div class="headline-sub pointer hover-color menu-item" (click)="toggleMenu()">
                    <img class="poa1" src="assets/workspace/arrow_drop_down.png" alt="">
                    <img src="assets/workspace/workspaces.png" alt="">
                    <p>Channel</p>
                </div>
                <img class="poa2 pointer" (click)="openDialog()" src="assets/workspace/add.png" alt="">
            </div>
            <div class="headline pointer hover-color menu-item " *ngIf="isMenuVisible">
                <img src="assets/workspace/tag.png" alt="">
                <p>Entwickerteam</p>
            </div>
            <div class="headline pointer hover-color menu-item " *ngIf="isMenuVisible">
                <img src="assets/workspace/add_circle.png" alt="">
                <p>Channels hinzufügen</p>
            </div>
            <div class="headline pointer hover-color content" (click)="toggleDirectMenu()">
                <img class="poa3" src="assets/workspace/arrow_drop_down.png" alt="">
                <img src="assets/workspace/account_circle.png" alt="">
                <p class="bold">Direktnachrichten</p>
            </div>
        </div>
        <div>
            <div class="users" *ngIf="isDirectMenuVisible">
                <div class="user pointer">
                    <img src="assets/avatars/Avatar 1.png" alt="">
                    <img class="poa4" src="assets/avatars/Online.png" alt="">
                    <p>Max Mustermann (Du)</p>
                </div>

            </div>
        </div>
    </div>

    <div class="workspace-flag pointer">
        <p>Workspace-Menü schließen</p>
        <img src="assets/workspace/Hide-navigation.png" alt="">
    </div>
</div>