<div class="thread-container">
  <div class="displaySpaceBetween containerHeader">
    <div>
      <span class="fontStyleHeader">Thread</span>
      <span class="fontStyleChannel"># Entwicklerteam</span>
    </div>

    <img
      class="iconsSize closeIcon"
      src="./../../../../assets/img/header/close-2.png"
      alt=""
    />
  </div>

  <div class="containerMessage">
    <img class="imgAvatar" src="./../../../../assets/avatars/Avatar 2.png" alt="" />
    <div class="infoMessage">
      <div class="infoHeader">
        <span class="fontStyleName"> <a href="">Noah Braun</a> </span>
        <span class="fontStyleTime">14:25 Uhr</span>
      </div>
      <div class="messageBubble">Welche Version ist aktuell von Angular?</div>
    </div>
  </div>

  <div class="spacerNewMessages">
    <span>2</span>
    <span>Antworten</span>
    <div class="spacer"></div>
  </div>

  <div class="containerMessage">
    <img class="imgAvatar" src="./../../../../assets/avatars/Avatar 3.png" alt="" />
    <div class="infoMessage">
      <div class="infoHeader">
        <span class="fontStyleName"><a href="">Sophia Müller</a></span>
        <span class="fontStyleTime">14:30 Uhr</span>
      </div>
      <div class="messageBubble">
        Ich habe die gleiche Frage. Ich habe gegoogelet und es scheint, dass die
        aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es wahr
        ist.
      </div>
      <div class="emojiContainer">
        <div class="reactionContainer">
          <img
            class="iconsSize"
            src="./../../../../assets/img/51. Emojis.png"
            alt=""
          />
          <span>1</span>
        </div>

        <img
          class="iconsSize"
          src="./../../../../assets/img/add_reaction.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="containerMessageMePerspective">
    <img class="imgAvatar" src="./../../../../assets/avatars/Avatar 1.png" alt="" />
    <div class="infoMessage">
      <div class="infoHeader">
        <span class="fontStyleTime">15.06 Uhr</span>
        <span class="fontStyleName"><a href="">Frederik Beck</a></span>
      </div>
      <div class="messageBubbleMePerspective">Ja das ist es.</div>

      <div class="emojiContainerMePerspective">
        <div class="reactionContainer">
          <img
            class="iconsSize"
            src="./../../../../assets/img/51. Emojis-2.png"
            alt=""
          />
          <span>1</span>
        </div>

        <img
          class="iconsSize"
          src="./../../../../assets/img/add_reaction.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="messageBox">
    <input type="text" placeholder="Antworten..."/>
    <div class="actionButtonsBox">
      <div class="leftSideIconsBox">
        <img class="iconsSize" src="./../../../../assets/img/add.png" alt="plusIcon" />
        <div class="spacerBox"></div>
        <img class="iconsSize"  src="./../../../../assets/img/add_reaction.png" alt="emojiSelectionBoxIcon" />
        <img class="iconsSize" src="./../../../../assets/img/alternate_email.png" alt="atMarkerIcon" />
      </div>
      <img class="iconInBox" src="./../../../../assets/img/send.png" alt="sendMessageIcon" />
    </div>
  </div>
</div>
