
<div class="mat-dialog-container">
    <h1>Channel erstellen</h1>
    <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.</span>
    <div class="mat-dialog-names">
        <div class="first-name-field" >
            <h2>Channel-Name</h2>
            <div class="input-container">
                <input type="text" placeholder="z.B. Kooperationsprojekte">
                
            </div>
            <!-- <mat-form-field class="form" appearance="outline">
                <mat-label>z.B. Kooperationsprojekte</mat-label>
                <input matInput>
            </mat-form-field> -->
        </div>
        <div class="last-name-field" >
            <h2>Beschreibung </h2>
            <span>(optional)</span>
            <div class="input-container">
                <input type="text" placeholder="Dein Text hier">
                
            </div>
        </div>
    </div>
