<h1 mat-dialog-title>Channel erstellen</h1>
<div class="mat-dialog-container">
    <div class="mat-dialog-names">
        <div class="first-name-field" mat-dialog-content>
            <mat-form-field class="form" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="last-name-field" mat-dialog-content>
            <mat-form-field class="form" appearance="outline">
                <mat-label> Last Name</mat-label>
                <input  matInput>
            </mat-form-field>
        </div>
    </div>
