@import '../public/assets/fonts/nunito-v26-latin/nunito-font.scss';
@import '../public/assets/fonts/figtree-v5-latin/figtree-font.scss';
@import '../public/assets/fonts/open-sans-v40-latin/open-sans.scss';

$purple1: #444DF2; // nice
$purple2: #797EF3;
$bgColor: #ECEEFE;

* {
  margin: 0;
  // background-color: #ECEFFF; weil sonst alle Komponenten (Profil Dialog oder Workspace usw. alle komischen Bg haben)

  //test
  font-family: Nunito, sans-serif;

}

body {
  margin: 0;
}

body.login-page {
    height: 100vh; //cool
  overflow-y: hidden;
  background-color: $bgColor;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.primary-btn {
  color: white;
  background-color: #454CF2;
  padding: 12px 25px 12px 25px;
  gap: 10px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  line-height: 24.55px;

  &:hover {
    background-color: #797EF3;
  }
}

.secondary-btn {
  background-color: white;
  color: #454CF2;
  padding: 12px 25px 12px 25px;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid #454CF2;
  font-size: 18px;
  line-height: 24.55px;

  &:hover {
    background-color: #797EF3;
    color: white;
  }
}

.grey-text {
  margin-top: 16px;
  display: flex;
  align-items: center;
  padding: 0 56px;
  color: #686868;
}

.purple {
  background-color: $purple1;
}

.grey {
  background-color: #686868;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrong-data,
.error-message {
    color: red;
}
