/* You can add global styles to this file, and also import other style files */
@import '../public/assets/fonts/nunito-v26-latin/nunito-font.scss';
@import '../public/assets/fonts/figtree-v5-latin/figtree-font.scss';

$purple1: #444DF2;
$purple2: #797EF3;
$bgColor: #ECEEFE;

* {
    margin: 0;
}

body.login-page {
    overflow-y: hidden;
    height: 100vh;
    background-color: $bgColor;
    @media (max-width: 990px) {
        overflow-y: auto;
    }
}

.d-none {
    display: none;
}