<app-login-logo></app-login-logo>
<main>
    <section>
        <form action="">
            <div class="header-div">
                <img src="assets/img/return.svg" alt="return">
                <h1>Passwort zurücksetzen</h1>
                <img class="little-img" src="assets/img/return-white.svg" alt="return">
            </div>

            
            <input type="password" placeholder="Neues Password">
            <div class="wrong-data">Diese E-Mail Adresse ist ungültig</div>

            <input type="password" placeholder="Neues Password bestätigen">
            <div class="wrong-data">Diese E-Mail Adresse ist ungültig</div>


            <div class="login-btn-div">
                <button class="login-btn">Weiter</button>
            </div>
        </form>
    </section>
</main>
<app-login-footer></app-login-footer>