<app-login-logo></app-login-logo>
<main>
    <section>
        <form>
            <div class="header-div">
                <img routerLink="/forgot-password" src="assets/img/return.svg" alt="return">
                <h1>Passwort zurücksetzen</h1>
                <img class="little-img" src="assets/img/return-white.svg" alt="return">
            </div>

            <input #passwordField="ngModel" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Neues Passwort" required>

            <input #confirmPasswordField="ngModel" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" type="password" placeholder="Neues Passwort bestätigen" required>

            <div *ngIf="password && confirmPassword && password !== confirmPassword" class="wrong-data">
                Die Passwörter stimmen nicht überein oder erreichen nicht die mind. Länge von 6 Zeichen.
            </div>

            <div class="login-btn-div">
                <button 
                    [ngClass]="{
                        'grey': password.length < 6 || password !== confirmPassword,
                        'purple': password.length >= 6 && password === confirmPassword
                    }" 
                    class="login-btn" 
                    type="submit"
                    [disabled]="password.length < 6 || password !== confirmPassword" (click)="sendNotification()">
                    Passwort ändern
                </button>
            </div>
        </form>
    </section>
</main>
<app-login-footer></app-login-footer>
